[Unit]
Description=Althea Node
After=network-online.target

[Service]
#StandardOutput=null
#StandardError=null
#LogLevelMax=5
TimeoutSec=240
User=altheauser
ExecStartPre=/bin/bash /home/altheauser/althea-scripts/prep-althea-ramdisk.sh
ExecStart=/usr/bin/althea start \
--log_level warn
#--p2p.laddr "tcp://0.0.0.0:26656"
#--pruning=nothing
ExecStopPost=/bin/bash /home/altheauser/althea-scripts/cleanup-althea-ramdisk.sh
Restart=always
RestartSec=5
LimitNOFILE=1048575 # found from running: ulimit -Hn

[Install]
WantedBy=multi-user.target
